/* CSS for the startup GIF */
#startup-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    animation: fade-out 5s forwards; /* Change 5s to the desired duration of fade-out */
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
